.header,
.footer {
    text-align: center;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    color: #333333;
    font-size: 18px;
}

.header {
    background-color: yellow;
    border-color: darkgoldenrod;
}

.footer {
    background-color: limegreen;
    border-color: darkgreen;
}

a {
    display: inline-block;
    background-color: lightgrey;
    padding: 10px 20px;
    color: orangered;
    text-decoration: none;
    border: 1px solid darkred;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
a:hover {
    background-color: darkgoldenrod;
}

.centered {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.centered a {
    margin: 0 auto;
}
